@font-face {
    font-family: 'Gotham SSm A';
    src: url('../fonts/Gotham-Light.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham SSm A';
    src: url('../fonts/Gotham-Book.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham SSm A';
    src: url('../fonts/Gotham-Medium.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham SSm A';
    src: url('../fonts/Gotham-Bold.woff2') format('woff2');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'whisper';
    src: url('../fonts/Whisper-Regular.woff2') format('woff2');
    font-style: normal;
}

* {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

:root {
    --red-lite: #FF4150;
    --btn-color: #28b8a0;
    --bg-color: #323236;
    --black-color: #27282c;
}

:root {
    --gotham-language: 'Gotham SSm A', 'Gotham SSm B', Helvetica, Arial, sans-serif;
    --logo-language: 'whisper';
    --language: system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Droid Sans,Helvetica Neue,Arial,sans-serif;
}

body {
    font-size: 18px;
    color: #fff;
    font-family: var(--gotham-language);
    line-height: 28px;
    background-color: rgba(39, 40, 44, .7);
}

body, html {
    height: 100%;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}



.site-container {
    max-width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    position: relative;
    z-index: 1;
}

.container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    max-width: 1200px;
}
.main-container {
    box-shadow: 0 0 20px 7px #000;
    background-color: rgba(0, 0, 0, .3);
}
.wooden-section {
    background-image: url(../img/digital-laptop-working-global-business-concept.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}


.background-img-block {
    max-height: 750px;
    position: absolute;
    width: 100%;
    height: 750px;
    z-index: -1;
    background-image: url(../img/digital-laptop-working-global-business-concept.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    
}
.background-img-block:before {
	content: '';
	display: block;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color:rgba(0, 0, 0, .2);
}


/* HEADER */


.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header-container_list {
    display: flex;
}
.header-container_list-item {
    padding: 20px 0;
}
.header-container_list-item-link {
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    padding: 20px;
    transition: all .2s linear;
}
.header-container_list-item-link:hover {
    background-color: var(--red-lite);
}
.header-container_list-item-social {
    padding: 7px;
    background-color: #fff;
    border-radius: 50%;
    opacity: .8;
    margin-left: 10px;
    align-items: center;
    display: flex;
    transition: all .2s linear;
}
.header-container_list-item-social:hover {
    opacity: 1;
}
.header-container_list-item-social-img {
    width: 25px;
    height: auto;
}

.logo {
    font-family: var(--logo-language);
    color: #fff;
    font-size: 80px;
    font-weight: 500;
    margin: 60px auto;
    text-align: center;
}


/* greeting  */

.greeting {
    padding: 100px;
    display: flex;
    justify-content: space-between;
    align-items: start;
}

.greeting-text-hi {
    margin-left: -5px;
    font-size: 80px;
    font-weight: 600;
}
.greeting-text-name {
    font-size: 40px;
    line-height: 55px;
}
.greeting-text-andMe {
    font-size: 36px;
    line-height: 50px;
    text-align: center;
    width: 100%;
}
.greeting-text-profession {
    font-family: var(--logo-language);
    font-size: 50px;
    text-align: center;
    width:100%;
}
.greeting-photo {

    text-align: center;
}
.greeting-photo-img {
    width: 50%;
    border-radius: 50%;
}

/* Portfolio */

.portfolio-section {
    display: flex;
    align-items: start;
    justify-content: space-around;
}
.portfolio-title {
    font-family: var(--logo-language);
    font-size: 80px;
    font-weight: 500;
    text-align: center;
}

.nav__item {
    width: 160px;
    border: 2px solid #fff;
}
.nav__link,
.nav__img {
    width: 100%;
    height: 100%;
}
.tab-content {
    display: none;
}
.tab-content-active {
    display: block;
}