@font-face {
    font-family: 'Gotham SSm A';
    src: url('../fonts/Gotham-Light.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham SSm A';
    src: url('../fonts/Gotham-Book.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham SSm A';
    src: url('../fonts/Gotham-Medium.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham SSm A';
    src: url('../fonts/Gotham-Bold.woff2') format('woff2');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'whisper';
    src: url('../fonts/Whisper-Regular.woff2') format('woff2');
    font-style: normal;
}

* {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

:root {
    --red-lite: #FF4150;
    --btn-color: #28b8a0;
    --bg-color: #323236;
    --black-color: #27282c;
}

:root {
    --gotham-language: 'Gotham SSm A', 'Gotham SSm B', Helvetica, Arial, sans-serif;
    --logo-language: 'whisper';
    --language: system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Ubuntu,Cantarell,Droid Sans,Helvetica Neue,Arial,sans-serif;
}

body {
    font-size: 18px;
    color: #fff;
    font-family: var(--gotham-language);
    line-height: 28px;
    background-color: rgba(39, 40, 44, .7);
}

body, html {
    height: 100%;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}



.site-container {
    max-width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    position: relative;
    z-index: 1;
}

.container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    max-width: 1200px;
}
.main-container {
    box-shadow: 0 0 20px 7px #000;
    background-color: rgba(0, 0, 0, .3);
}
.section-container {
    padding: 100px;
}


.wooden-section {
    background-image: url(../img/digital-laptop-working-global-business-concept.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
}


.background-img-block {
    max-height: 800px;
    position: absolute;
    width: 100%;
    height: 780px;
    z-index: -1;
    background-image: url(../img/digital-laptop-working-global-business-concept.jpg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    
}
.background-img-block:before {
	content: '';
	display: block;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color:rgba(0, 0, 0, .2);
}

/* BTN  */

.greeting-text-btn {
    width: 100%;
    margin-top: 40px;
}


.btn:link,
.btn:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 15px 40px;
    display: inline-block;
    border-radius: 15px;
    transition: all .2s;
    position: absolute;
    text-align: center;
    width: 300px;
}

.btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.btn:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.btn-red {
    background-color: var(--red-lite);
    color: #fff;
    font-weight: 600;
}

.btn::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s;
}

.btn-red::after {
    background-color: #fff;
}

.btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
}

.btn-animated {
    animation: moveInBottom 5s ease-out;
    animation-fill-mode: backwards;
}

@keyframes moveInBottom {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}
  

.nav__img {
    object-fit: cover;
    --color: var(--red-lite); /* the border color */
    --border: 5px;   /* the border thickness*/
    --offset: 10px;   /* control the offset*/
    --gap: 3px;       /* the gap on hover */
    
    --_c: var(--color) var(--border), #0000 0 calc(100% - var(--border)),var(--color) 0;
    --_o: calc(2*var(--offset));
    padding: 
      calc(var(--gap) + var(--border))
      calc(var(--gap) + var(--border) + var(--offset))
      calc(var(--gap) + var(--border) + var(--offset))
      calc(var(--gap) + var(--border));
    background: 
      linear-gradient(      var(--_c)) var(--_o) var(--_o), 
      linear-gradient(90deg,var(--_c)) var(--_o) var(--_o);
    background-size: calc(100% - var(--_o)) calc(100% - var(--_o));
    background-repeat: no-repeat;
    filter: grayscale(.4);
    transition: .5s;
    cursor: pointer;
  }
  .nav__link:hover .nav__img {
    background-position: 0px 0px;
    background-size: calc(100% - var(--offset)) calc(100% - var(--offset));
    filter: grayscale(0);
  }
  .nav__link:hover {
    cursor: pointer;
  }
  
  

/* HEADER */


.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header-container_list {
    display: flex;
}
.header-container_list-item {
    padding: 20px 0;
}
.header-container_list-item-link {
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    padding: 20px;
    transition: all .2s linear;
}
.header-container_list-item-link:hover {
    background-color: var(--red-lite);
}
.header-container_list-item-social {
    padding: 7px;
    background-color: #fff;
    border-radius: 50%;
    opacity: .8;
    margin-left: 10px;
    align-items: center;
    display: flex;
    transition: all .2s linear;
}
.header-container_list-item-social:hover {
    opacity: 1;
}
.header-container_list-item-social-img {
    width: 25px;
    height: auto;
}

.logo {
    font-family: var(--logo-language);
    color: #fff;
    font-size: 80px;
    font-weight: 500;
    margin: 60px auto;
    text-align: center;
}


/* greeting  */

.greeting {
    display: flex;
    justify-content: space-between;
    align-items: start;
}

.greeting-text-hi {
    margin-left: -5px;
    font-size: 80px;
    font-weight: 600;
}
.greeting-text-name {
    font-size: 40px;
    line-height: 55px;
}
.greeting-text-andMe {
    font-size: 36px;
    line-height: 50px;
    text-align: center;
    width: 100%;
}
.greeting-text-profession {
    font-family: var(--logo-language);
    font-size: 50px;
    text-align: center;
    width:100%;
}
.greeting-photo {

    text-align: center;
}
.greeting-photo-img {
    width: 50%;
    border-radius: 50%;
}

/* Portfolio */

.portfolio {
    box-shadow: 0 -70px 40px rgba(39, 40, 44, .8)
}

.portfolio-section {
    display: flex;
    align-items: start;
    justify-content: space-between;
}
.portfolio-title {
    font-family: var(--logo-language);
    font-size: 80px;
    font-weight: 500;
    text-align: center;
    margin-bottom: 60px;
}
.portfolio-section-block {
    width: 50%;
}
.portfolio-section-block:not(:last-child) {
    padding-right: 40px;
}
.portfolio-section-block:not(:first-child) {
    padding-left: 40px;
    border-left: 2px solid var(--red-lite);
}

.nav__list {
    display: flex;
    align-items: start;
    flex-wrap: wrap;
}

.nav__item {
    width: 140px;
    margin: 0 10px 10px 0;
    box-shadow: 0 0 3px 2px #323236;
}
.portfolio-section-block-title {
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    margin: 7px 0;
}
.portfolio-section-block-img {
    height: 12px;
    width: 12px;
}
.nav__img--block {
    width: 140px;
    height: 100px;
}
.nav__link,
.nav__img {
    width: 100%;
    height: 100%;
}
.tab-content {
    display: none;
}
.tab-content-active {
    display: block;
}